{{define "spring-boot-actuator"}}
<div id='main-wrapper'>
    <div class='main section' id='main'>
        <div class='widget Blog' data-version='1' id='Blog1'>
            <div class='blog-posts hfeed'>

                <div class="date-outer">
                    <h2 class='date-header'><span>Monday, July 25, 2016</span></h2>

                    <div class="date-posts">
                        <div class='post-outer'>
                            <div class='wrapfullpost'>
                                <div class='post hentry'>
                                    <h3 class='post-title entry-title' itemprop='headline'>
                                        <a href='/post/{{.Name}}'>{{.Title}}</a>
                                    </h3>
                                    <div class='post-header-line-1'></div>
                                    <div class='postmeta-primary'>
                                                    <span class='meta_author post-author vcard'>
                                                        <span class='fn' itemprop='author' itemscope='itemscope'>
                                                            <a class='g-profile' href='/about' rel='author'
                                                               title='author profile'>
                                                                <span itemprop='name'>{{.Author}}</span></a></span></span>
                                                    <span class='meta_date'>
                                                        <a class='timestamp-link' href='#' rel='bookmark'
                                                           title='permanent link'>
                                                            <time class="timeago" datetime="{{.PublishDate}}">{{.PublishDate}}</time></a></span>
                                                    <span class='meta_comments'>
                                                        <a id="commentCountLink" class='comment-link' href='#comments'
                                                           onclick=''>{{.CommentCount}} comments</a>
                                                    </span>
                                                    <span class='item-control blog-admin pid-3'>
                                                        <a href='#' title='Edit Post'>
                                                            <!--<img alt='' class='icon-action' height='18'
                                                                 src='/assets/images/icon18_edit_allbkg.gif'
                                                                 width='18'/>-->
                                                        </a>
                                                    </span>
                                    </div>
                                    <div class='post-body entry-content' id='post-body-3'>
                                        <!--<p style="text-align: center;"><a
                                                href="#"
                                                rel="nofollow"><img
                                                src="/assets/images/{{.ImageUrl}}"
                                                style="max-width:100%; high: auto;"
                                                alt="sfsdf"/></a>
                                            <br/>
                                        </p>-->
                                        <p><strong class="post-heading">&raquo; What is Spring Boot Actuator </strong>
                                        </p>
                                        <p>
                                            Spring boot actuator is the one of the production ready features of spring
                                            boot which allows you to
                                            monitor and interact with your application. It provides various information
                                            about application i.e. health,
                                            git info, environment info, memory, server metrics and many more.
                                        </p>
                                        <p><strong class="post-heading">&raquo; Features </strong></p>
                                        <p>It has several features. Below are the some important features which can make
                                            difference in the way you interact with
                                            your application.</p>
                                        <p><b>1) Actuator : </b>It provides a hyper link page to all endpoints for
                                            actuator. This features requires HATEOAS dependency in
                                            your classpath.</p>
                                        <p><b>2) Health : </b>It provides you status whether UP or DOWN or OUT OF
                                            SERVICE for each services you are using in your application.</p>
                                        <p><b>3) Info : </b>It provides basic information about your application e.g.
                                            name, version, description. It also provides
                                            git info if you've added git information(git.properties) in your
                                            application. i.e. branch, commit id, comment</p>
                                        <p><b>4) Metrics : </b>It Shows server metrics for your application which
                                            includes information like memory, free memory, server uptime,
                                            processors, heap information and many more.</p>
                                        <p><b>5) Trace : </b>Provides you trace of last 100 HTTP requests.</p>
                                        <p><b>6) Environment : </b>Provides you all information related to current
                                            environment on which your application is running.
                                            It shows all enviroment specific properties your application is using.</p>
                                        <p><b>7) Beans : </b>Displays a list of all spring beans in your application.
                                        </p>
                                        <p><b>8) Configuration Properties : </b>Displays a list of all configuratio
                                            properties in your application.</p>
                                        <p><b>9) Mappings : </b>It shows all request mappings paths in your application.
                                        </p>
                                        <p><strong class="post-heading">&raquo; How can I use it in my spring boot
                                            application </strong></p>
                                        <p>As it is a production ready feature, You can enable it by just adding below dependency in dependencies section of your
                                            build.gradle.</p>
                                        <a href="https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-actuator"
                                           class="playground-link" target="_blank">
                                            <pre class="prettyprint">compile("org.springframework.boot:spring-boot-starter-actuator:1.4.2.RELEASE")</pre>
                                        </a>
                                        <p>And also add below Spring HATEOAS dependency to enable hyper-media based
                                            discovery page.</p>
                                        <a href="https://mvnrepository.com/artifact/org.springframework.hateoas/spring-hateoas"
                                           class="playground-link" target="_blank">
                                            <pre class="prettyprint">compile("org.springframework.hateoas:spring-hateoas:0.20.0.RELEASE")</pre>
                                        </a>
                                        <p>Now run your application to see actuator in action.</p>
                                        <p><strong class="post-heading">&raquo; Endpoints (How to
                                            interact/access)</strong></p>
                                        <p>Below are the endpoints provided by actuator.</p>
                                        <pre class="prettyprint">/actuator // hypermedia based page
/health // health status of application
/info // application info (git info)
/env // environment specific information
/dump // thread dump
/heapdump // heap dump
/autoconfig // provides auto configuration info
/metrics // server metrics
/trace // trace of last 100 request by default
/configprops // list all configuration properties
/beans // list all spring beans
                                        </pre>
                                        <p><strong class="post-heading">&raquo; Customizing endpoints</strong></p>
                                        <p>You can customize all above endpoints if you want some different endpoint for
                                            any of the above specified. You just need
                                            to make small changes in your application config properties for this.</p>
                                        <pre class="prettyprint">endpoints.enabled=false // to disable all endpoints
endpoints.health.enabled=true // to enable only health endpoint</pre>
                                        <pre class="prettyprint">endpoints.sensitive=true // to make all endpoints active
endpoints.info.sensitive=false // to inactive info</pre>
                                        <p>You can also change management context path. By default it mapped to /
                                            (slash).</p>
                                        <pre class="prettyprint">// all other endpoints will now become accessibel via /actuator/&lt;endpoint&gt;
management.context-path=/actuator</pre>
                                        <p><strong class="post-heading">&raquo; Enabling git info</strong></p>
                                        <p>By default git info is sensitive, but it needs git.properties in your
                                            classpath in order
                                            to provide full information about git. Below are steps to adding git info
                                            properly.</p>
                                        <p><b>Step 1 : </b>First of all you need to apply git info plugin. To apply git
                                            info plugin you
                                            need to add a maven repository and dependency in dependencies section of
                                            buildscript in build.gradle</p>
                                        <pre class="prettyprint">maven {
    url "https://plugins.gradle.org/m2/"
}
// and
classpath("gradle.plugin.com.gorylenko.gradle-git-properties:gradle-git-properties:1.4.17")</pre>
                                        <p>Below is the full example of the above.</p>
                                        <pre class="prettyprint">buildscript {
    ext {
        springBootVersion = '1.4.0.RELEASE'
 }
    repositories {
        mavenCentral()
        maven {
            url "https://plugins.gradle.org/m2/"
 }
    }
    dependencies {
        classpath("org.springframework.boot:spring-boot-gradle-plugin:${springBootVersion}")
        classpath("gradle.plugin.com.gorylenko.gradle-git-properties:gradle-git-properties:1.4.17")
    }
}</pre>
                                        <p><b>Step 2 : </b>Now apply git info plugin by adding below line build.gradle
                                        </p>
                                        <a href="https://plugins.gradle.org/plugin/com.gorylenko.gradle-git-properties"
                                           class="playground-link" target="_blank">
                                            <pre class="prettyprint">apply plugin: "com.gorylenko.gradle-git-properties"</pre>
                                        </a>
                                        <p><b>Step 3 : </b>Add below task in build.gradle</p>
                                        <pre class="prettyprint">gitProperties {
  dateFormat = "d MMM yyyy HH:mm:ss Z" // to specify time format to show
  dateFormatTimeZone = "UTC" // time zone to show data in
  // root of git repository
  gitRepositoryRoot = new File("${project.rootDir}")
  // git.properties file location
  gitPropertiesDir = new File("${project.rootDir}/src/main/resources")
}</pre>
                                        <p><b>Step 4 : </b>Now add below line in your application.properties in order to display
                                        full git information.</p>
                                        <pre class="prettyprint">management.info.git.mode=full</pre>
                                        <p><b>Step 5 : </b>Now run your application, it will creaet git.properties in resources folder.
                                            Now hit the /info endpoint and that's it. Below is the sample response.</p>
                                        <pre class="prettyprint">{
   "git":{
      "commit":{
         "message":{
            "full":"Merge branch 'uat' into master",
            "short":"Merge branch 'uat' into master"
         },
         "time":"3 Dec 2016 13:01:46 +0000",
         "id":"7b68a56af54782ef148ef9b04fd39909bdf1fd1d",
         "id.abbrev":"7b68a56",
         "user":{
            "email":"vikram.jakhr@gmail.com",
            "name":"vikram"
         }
      },
      "branch":"HEAD"
   }
}</pre>
                                        <p><strong class="post-heading">&raquo; Some sample responses </strong></p>
                                        <p><b>/actuator </b></p>
                                        <pre class="prettyprint">{
   "links":[
      {
         "rel":"self",
         "href":"http://your-host-name/actuator"
      },
      {
         "rel":"env",
         "href":"http://your-host-name/env"
      },
      {
         "rel":"heapdump",
         "href":"http://your-host-name/heapdump"
      },
      {
         "rel":"dump",
         "href":"http://your-host-name/dump"
      },
      {
         "rel":"autoconfig",
         "href":"http://your-host-name/autoconfig"
      },
      {
         "rel":"mappings",
         "href":"http://your-host-name/mappings"
      },
      {
         "rel":"health",
         "href":"http://your-host-name/health"
      },
      {
         "rel":"metrics",
         "href":"http://your-host-name/metrics"
      },
      {
         "rel":"info",
         "href":"http://your-host-name/info"
      },
      {
         "rel":"trace",
         "href":"http://your-host-name/trace"
      },
      {
         "rel":"configprops",
         "href":"http://your-host-name/configprops"
      },
      {
         "rel":"beans",
         "href":"http://your-host-name/beans"
      }
   ]
}</pre>
                                        <p><b>/health </b></p>
                                        <pre class="prettyprint">{
   "status":"DOWN",
   "diskSpace":{
      "status":"UP",
      "total":20994674688,
      "free":9995558912,
      "threshold":10485760
   },
   "rabbit":{
      "status":"DOWN",
      "error":"org.springframework.amqp.AmqpConnectException: java.net.ConnectException: Connection refused"
   },
   "db":{
      "status":"UP",
      "database":"MySQL",
      "hello":1
   }
}</pre>
                                        <p><b>/metrics </b></p>
                                        <pre class="prettyprint">{
   "mem":1323276,
   "mem.free":1009741,
   "processors":2,
   "instance.uptime":114005700,
   "uptime":114030573,
   "systemload.average":0,
   "heap.committed":1204224,
   "heap.init":1228800,
   "heap.used":194482,
   "heap":1204224,
   .
   .
}</pre>
                                        <p>That's it in spring boot actuator. If you've any question,
                                        please paste it in comment. And don't forget to share if you like it.</p>
                                        <div class='pbtsharethisbutt'>
                                            Share:
                                            <a class="fb-sharer"
                                               onclick='window.open(this.href,"sharer","toolbar=0,status=0,width=626,height=436"); return false;'
                                               rel='nofollow'
                                               target='_blank'
                                               title='Share this on Facebook'>
                                                <i class='fa fa-facebook'></i>
                                            </a>
                                            <a href='#' rel='nofollow' target='_blank' title='Tweet This!'>
                                                <i class='fa fa-twitter'></i>
                                            </a>
                                            <a href='#' onclick='javascript:void(0);return false;' rel='nofollow'
                                               target='_blank' title='Share this on Google+'>
                                                <i class='fa fa-google-plus'></i>
                                            </a>
                                        </div>
                                        <div style='clear: both;'></div>
                                    </div>
                                    <div class='post-iconspbt'>
<span class='post-icons' style='padding-right:10px;'>
</span>
                                        <div style='clear: both;'></div>
                                    </div>
                                    <div class='post-location post-locationpbt'>
                                    </div>
                                    <div class='related-postbwrap' id='bpostrelated-post'></div>
                                    <div style='clear: both;'></div>
                                    <div class='post-footer'>
                                        <div class='post-footer-line post-footer-line-'></div>
                                        <div class='post-footer-line post-footer-line-2'>
                                        </div>
                                        <div class='post-footer-line post-footer-line-3'></div>
                                    </div>
                                </div>
                            </div>

                            <div class='clear'></div>
                            <input type="hidden" id="currentPage" value="{{.Name}}">
                            <div id="comments"></div>
                            <script src='/assets/js/comment.js' type='text/babel'></script>
                            <div class="clear"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript">window.___gcfg = {'lang': 'en'};</script>
    </div>
</div>
{{end}}