{{define "footer"}}
<div class='comments' id='comments'>
    <h4>0 comments:</h4>
    <div class='commentList'>
        <div>
            <div class="user-thumbnail">
                <img class="user-thumb" src="/assets/images/user.png">
            </div>
            <div class="aComment"></div>
        </div>
    </div>
    <div id="commentForm">
        <div class="user-thumbnail">
            <img class="user-thumb" src="/assets/images/user.png">
        </div>
        <div class="comment-txtArea-div">
            <textarea class="commentTxtArea" placeholder="Add your comment here"></textarea>
        </div>
    </div>
</div>
{{end}}