{{define "footer"}}
<div style='clear:both;'></div>
<div id='footer-widgets-container'>
    <div class='clearfix' id='footer-widgets'>
        <div class='footer-widget-box'>
            <ul class='widget-container'>
                <li>
                    <div class='footersec section' id='footersec1'>
                        <div class='widget Label' data-version='1' id='Label1'>
                            <h2>Tags</h2>
                            <div class='widget-content list-label-widget-content'>
                                <ul>
                                    <li>
                                        <a dir='ltr' href='/golang'>Go</a>
                                    </li>
                                </ul>
                                <div class='clear'></div>
<span class='widget-item-control'>
</span>
                                <div class='clear'></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='footer-widget-box'>
            <ul class='widget-container'>
                <li>
                    <div class='footersec section' id='footersec2'>
                        <div class='widget HTML' data-version='1' id='HTML4'>
                            <h2 class='title'>Posts</h2>
                            <div class='widget-content'>
                                <ul>
                                    <li><a href="/post/introduction-to-go">Introduction to Golang</a></li>
                                    <li><a href="/post/arrays-in-go">Arrays in Golang</a></li>
                                    <li><a href="/post/working-with-slices-in-go">Working with Slices in Golang</a></li>
                                </ul>
                            </div>
                            <div class='clear'></div>
<span class='widget-item-control'>
</span>
                            <div class='clear'></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='footer-widget-box footer-widget-box-last'>
            <ul class='widget-container'>
                <li>
                    <div class='footersec section' id='footersec3'>
                        <div class='widget HTML' data-version='1' id='HTML3'>
                            <h2 class='title'>About</h2>
                            <div class='widget-content'>
                                I'm a software developer. I love to code in golang.
                                Creating a mess around various programming languages is the kind the game
                                I play with.
                            </div>
                            <div class='clear'></div>
<span class='widget-item-control'>
</span>
                            <div class='clear'></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style='clear:both;'></div>
<div id='footer-container'>
    <div id='footer'>
        <div id='copyrights'>
            Copyright &#169;
            <script type='text/javascript'>var creditsyear = new Date();
            document.write(creditsyear.getFullYear());</script>
            <a href='/home'>vikramjakhar.com</a>
        </div>
    </div>
</div>
<div style='clear:both;'></div>
<a href="#body-wrapper" id="scroll-up" style="display: block;"></a>
{{end}}