{{define "reside-bar-widget-tmpl"}}

<div class='widget-container'>
    <div class='tabviewsection'>
        <script type='text/javascript'>
            jQuery(document).ready(function ($) {
                $(".tabs-widget-content-widget-themater_tabs-1432447472-id").hide();
                $("ul.tabs-widget-widget-themater_tabs-1432447472-id li:first a").addClass("tabs-widget-current").show();
                $(".tabs-widget-content-widget-themater_tabs-1432447472-id:first").show();

                $("ul.tabs-widget-widget-themater_tabs-1432447472-id li a").click(function () {
                    $("ul.tabs-widget-widget-themater_tabs-1432447472-id li a").removeClass("tabs-widget-current a");
                    $(this).addClass("tabs-widget-current");
                    $(".tabs-widget-content-widget-themater_tabs-1432447472-id").hide();
                    var activeTab = $(this).attr("href");
                    $(activeTab).fadeIn();
                    return false;
                });
            });
        </script>
        <ul class='tabs-widget tabs-widget-widget-themater_tabs-1432447472-id'>
            <li><a href='#widget-themater_tabs-1432447472-id1'>Popular</a></li>
            <li><a href='#widget-themater_tabs-1432447472-id2'>Tags</a></li>
            <li><a href='#widget-themater_tabs-1432447472-id3'>Blog Archives</a></li>
        </ul>
        <div class='tabs-widget-content tabs-widget-content-widget-themater_tabs-1432447472-id'
             id='widget-themater_tabs-1432447472-id1'>
            <div class='sidebarpbt section' id='sidebartab1'>
                <div class='widget PopularPosts' data-version='1' id='PopularPosts1'>
                    <div class='widget-content popular-posts'>
                        <ul>
                            <li>
                                <div class='item-thumbnail-only'>
                                    <div class='item-thumbnail'>
                                        <a href='#'
                                           target='_blank'>
                                            <img alt='' border='0' height="70" width="70"
                                                 src='/assets/images/introduction-to-go.jpg'/>
                                        </a>
                                    </div>
                                    <div class='item-title'><a
                                            href='/post/introduction-to-go'>Introduction to Golang</a></div>
                                </div>
                                <div style='clear: both;'></div>
                            </li>
                            <li>
                                <div class='item-thumbnail-only'>
                                    <div class='item-thumbnail'>
                                        <a href='#'
                                           target='_blank'>
                                            <img alt='' border='0' height="70" width="70"
                                                 src='/assets/images/arrays-in-go.png'/>
                                        </a>
                                    </div>
                                    <div class='item-title'><a
                                            href='/post/arrays-in-go'>Arrays in Golang</a></div>
                                </div>
                                <div style='clear: both;'></div>
                            </li>

                        </ul>
                        <div class='clear'></div>
<span class='widget-item-control'>
</span>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='tabs-widget-content tabs-widget-content-widget-themater_tabs-1432447472-id'
             id='widget-themater_tabs-1432447472-id2'>
            <div class='sidebarpbt section' id='sidebartab2'>
                <div class='widget Label' data-version='1' id='Label3'>
                    <h2>Tags</h2>
                    <div class='widget-content list-label-widget-content'>
                        <ul>
                            <li>
                                <a dir='ltr' href='/golang'>Go</a>
                            </li>
                        </ul>
                        <div class='clear'></div>
<span class='widget-item-control'>
</span>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='tabs-widget-content tabs-widget-content-widget-themater_tabs-1432447472-id'
             id='widget-themater_tabs-1432447472-id3'>
            <div class='sidebarpbt section' id='sidebartab3'>
                <div class='widget BlogArchive' data-version='1' id='BlogArchive2'>
                    <h2>Blog Archive</h2>
                    <div class='widget-content'>
                        <div id='ArchiveList'>
                            <div id='BlogArchive2_ArchiveList'>
                                <ul class='hierarchy'>
                                    <li class='archivedate expanded'>
                                        <a class='toggle' href='javascript:void(0)'>
                                            <span class='zippy toggle-open'>&#9660;&#160;</span>
                                        </a>
                                        <a class='post-count-link' href='#'>2016</a>
                                        <span class='post-count' dir='ltr'>(7)</span>
                                        <ul class='hierarchy'>
                                            <li class='archivedate expanded'>
                                                <a class='toggle' href='javascript:void(0)'>
                                                    <span class='zippy toggle-open'>&#9660;&#160;</span>
                                                </a>
                                                <a class='post-count-link' href='#'>July</a>
                                                <span class='post-count' dir='ltr'>(7)</span>
                                                <ul class='posts'>
                                                    <li>
                                                        <a href='#'>Van bevolking bij inderdaad verklaart
                                                            als herhaling</a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>Sterke are gezift </a></li>
                                                    <li>
                                                        <a href='#'>Bakken europa tunnel invoer zullen
                                                            dat </a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>feestdagen al ad verzamelen.</a></li>
                                                    <li>
                                                        <a href='#'>Duurde eenige bak bamboe spuwen</a></li>
                                                    <li>
                                                        <a href='#'>Om sinds jacht ik te koopt anson</a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>Omwonden uithoudt nu loopbaan
                                                            afstands</a>
                                                    </li>
                                                    <li>
                                                        <a href='#'>Ze in opdrogen arbeiden op wildrijk</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class='clear'></div>
<span class='widget-item-control'>
</span>
                        <div class='clear'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}