{{define "register-tmpl"}}
<div id='content-wrapper'>
    <div style='clear:both;'></div>
    <!-- Featured Content Slider End -->
    <div id='crosscol-wrapper' style='text-align:center'>
        <div class='crosscol no-items section' id='crosscol'></div>
    </div>


    <div id='main-wrapper' class="registration-wrapper">
        <div class='main section' id='main'>
            <div class='widget Blog' data-version='1' id='Blog1'>
                <div class='blog-posts hfeed'>

                    <div class="date-outer">

                        <div class="date-posts">
                            <div class='post-outer'>
                                <div class='wrapfullpost'>
                                    <div class="registration">
                                        <h3 class="register-heading">Register</h3>
                                        <hr/>
                                        <form name="registrationForm" method="post" role="form" action="/user/register" id="registrationForm">
                                            <div class="form-group regFirstDiv">
                                                <label for="email" class="col-sm-12 control-label">Email<span
                                                        class="asterisk">*</span></label>
                                                <div class="col-sm-12 has-border">
                                                    {{if .IsAlreadyUsed}}
                                                    <input type="email" name="email" class="form-control registration-email"
                                                           id="email" value="{{.Email}}">
                                                    <div class="reg-validation-error">Email already in use</div>
                                                    {{else}}
                                                    <input type="email" name="email" class="form-control"
                                                           id="email" placeholder="Enter your email">
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username" class="col-sm-12 control-label">Username<span
                                                        class="asterisk">*</span></label>
                                                <div class="col-sm-12 has-border">
                                                    <input type="text" class="form-control" id="username"
                                                           name="userName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-sm-12 control-label">Password<span
                                                        class="asterisk">*</span></label>
                                                <div class="col-sm-12 has-border">
                                                    <input type="password" class="form-control" id="password"
                                                           name="userName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <br>
                                                <div class="col-sm-12 has-border">
                                                    <div class="g-recaptcha"
                                                         data-sitekey="6LcYqAoTAAAAANKLU8-m5QfayNHB88gEp-Y8gaoy" ></div>
                                                </div>
                                            </div>
                                            <div class="button-group regSubmit">
                                                <button class="btn btn-success register-signup-btn"
                                                        type="submit">Signup
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class='comments hideComments' id='comments'>
                                    <a name='comments'></a>
                                    <div class='comments-content'>
                                    </div>
                                    <p class='comment-footer'>
                                        <div class='comment-form'>
                                            <a name='comment-form'></a>
                                    <p>

                                </div>
                                <div id='backlinks-container'>
                                    <div id='Blog1_backlinks-container'>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{end}}