{{define "about-tmpl"}}
<div id='content-wrapper'>
    <div style='clear:both;'></div>
    <!-- Featured Content Slider End -->
    <div id='crosscol-wrapper' style='text-align:center'>
        <div class='crosscol no-items section' id='crosscol'></div>
    </div>


    <div id='main-wrapper main-wrapper1'>
        <div class='main section' id='main'>
            <div class='widget Blog' data-version='1' id='Blog1'>


                <div class="row about-row">
                    <div class="clearfix about-inner">

                        <div class="col-sm-12 col-md-3">
                            <div class="person-about">
                                <h3 class="about-subtitle">About Me</h3>
                                <p>Hello, I'm a software developer. I love to code in golang.
                                    Creating a mess around various programming languages is the kind the game
                                    I play with.
                                </p>
                            </div>
                        </div>
                        <!-- about me description -->

                        <div class="col-sm-6 col-md-4">
                            <div class="person-img wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                <img class="z-depth-1 about-me" height="250" width="250" src="/assets/images/me.jpg" alt="">
                            </div>
                        </div>
                        <!-- about me image -->

                        <div class="col-sm-6 col-md-3 personal-info">
                            <div class="person-info">
                                <h3 class="about-subtitle">Personal Information</h3>
                                <h5><span>Name :</span> Vikram Jakhar</h5>
                                <h5><span>Phone :</span> +91 8527054221</h5>
                                <h5><span>Email :</span> vikram.jakhr@gmail.com</h5>
                                <h5><span>Address :</span> Noida, India</h5>
                            </div>

                            <div class="about-social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/vikramjakhr" class="btn-floating waves-effect waves-light white" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/vikramjakhar" class="btn-floating waves-effect waves-light white" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/+vikramjakhar" class="btn-floating waves-effect waves-light white" target="_blank">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://in.linkedin.com/in/vikramjakhar" class="btn-floating waves-effect waves-light white" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- about me info -->

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
{{end}}